<div class="span8" style="background-color: #34495e; padding: 18px 42px 17px 25px;">
	<div style="width: 140px; margin-left: -10px; margin-right: 10px; float: left;">
		<img src="<%= article.image_url %>" />
	</div>
	<div style="float: left;">
		<h4 style="color: #ECF0F1;"><%= article.title %></h4>
		<span style="color: #6285a8; text-transform: capitalize;"><%= bookmark.comment %></span>
	</div>
</div>