<div>
<input type="text" id="friendSearchBox" />
</div>

<div id="friendsContainer" class="row demo-tiles" style="max-height: 500px; overflow: auto; margin-left: -15px; margin-bottom: 20px; padding: 5px; border: 1px solid lightgray;">

</div>

<div id="friendsBox" style="margin: top: 5px;">
<center>
<button id="inviteBtn">Send Facebook Invite</button>
</center>
</div>