<div id="leftpane" style="margin-right: 10px;overflow: hidden;float: left;background-color: #34495e;color: white;">
	<div class="demo-browser-side">
		<div style="border: 1px solid white;">
			<img style="" src="<%= user.attributes.avatar_url %>?width=111&amp;height=100">
		</div>
		<div class="demo-browser-action" style="padding-top: 10px; padding-bottom: 3px;">
			<a class="btn btn-danger btn-large btn-block" href="http://twitter.com/monstercritic" target="_blank">Follow</a>
		</div>
		<h5><%= user.attributes.firstname %> <%= user.attributes.lastname %></h5>
		<h6>Tourist. Designer. NYC<a href="http://shmidt.in" target="_blank">shmidt.in</a></h6>
	</div>
</div>

<div id="mainbox" style="overflow: hidden;">
</div>