<div class="demo-headline">
	<h1 class="demo-logo">
		Icewolf
		<small>Collaborative Bookmarking</small>
	</h1>
</div>

<div class="login-form span5 offset3">
	<a class="btn btn-primary btn-large btn-block" id="fbConnectBtn" href="#">Connect using Facebook</a>
	<a class="login-link" href="#">How it Works?</a>
</div>