<h1>App#loader</h1>
<p>Find me in app/views/app/loader.html.erb</p>

<script type="text/javascript">
	$(function() {
		window.router = new Icewolf.Routers.AppsRouter();
		Backbone.history.start();
	});
</script>

<div id="base"></div>
