.accountMenuTop {
  left: -50px !important; 
  width: 100px !important;
  text-align: center !important;
}

.accountMenuTop:before {
  content: "" !important;
  border-style: solid !important;
  border-width: 0 9px 9px 9px !important;
  border-color: transparent transparent #34495e transparent !important;
  height: 0px !important;
  position: absolute !important;
  left: 69px !important;
  top: 5px !important;
  width: 0px !important;
  -webkit-transform: rotate(360deg) !important;
}
